<!DOCTYPE html>
<html>
<head>
    <title>Promotions - Manuqato Allure</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content">
        <h1>Special Promotions</h1>
        <p>Indulge in our alluring perfumes featuring a curated selection of fragrances at irresistible prices. Whether you're seeking a fresh floral, a warm oriental, or a crisp citrus, we have something for everyone.</p>
        <p>Shop now and experience free delivery on orders above Kshs.7,500.</p>
        <h2>Exclusive Sale</h2>
        <p>Discover our exclusive sale on Loris perfumes and stylish accessories! Elevate your fragrance game with a curated selection of designer scents at unbeatable prices. From timeless classics to the latest trends, find the perfect scent for any occasion.</p>
        <h2>Accessories</h2>
        <p>Browse our stunning array of accessories, including elegant jewelry, chic handbags, and stylish sunglasses, all designed to complement your unique style.</p>
        <p>Shop now and experience free delivery on orders above Kshs.7,500. Find your perfect scent today!</p>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('contact') }}">Contact Us</a>
            <a href="{{ url_for('products') }}">Our Products</a>
        </nav>
    </div>
</body>
</html>
